extends ../layouts/landingLayout.pug
include ../mixins/landingMixin.pug

block headContent
    +notisHead
block content
    .header
        nav(aria-label="breadcrumb")
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="#") الرئيسية
                li.breadcrumb-item الصفقات
    .row.row-cols-md-2.row-cols-lg-4.row-cols-xl-4.match-height.mt-5
        .col 
            +storyBox({progress:'bg-success'})
        .col 
            +storyBox({progress:'bg-success'})
        .col 
            +storyBox({progress:'bg-success'})
        .col 
            +storyBox({progress:'bg-success'})
        .col 
            +storyBox({progress:'bg-success'})
        .col 
            +storyBox({progress:'bg-success'})
        .col 
            +storyBox({progress:'bg-success'})
        .col 
            +storyBox({progress:'bg-success'})

