
extends ../layouts/landingLayout.pug
include ../mixins/landingMixin.pug

block headContent
    +notisHead
block content
    .header
        nav(aria-label="breadcrumb")
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="#") الرئيسية
                li.breadcrumb-item الصفقات
    .page-content-inner.bargains-request.mt-5
        .add-product-title.d-flex.justify-content-between  
            h2 تفاصيل العرض
            +Button({color:'orange' , name:'جارى التوصيل'})
        .order-details 
            .row
                .col-lg-4 
                    +orderDetailsBox('رقم العرض ' , '#6461313')
                .col-lg-4 
                    +orderDetailsBox(' تاريخ ووقت الطلب ' , '   12 سبتمبر ، 2021 -  50:4 مساءً')
                .col-lg-4 
                    +orderDetailsBox('إجمالي الطلب' , ' 00.64 ريال')
        hr.my-5.cus-hr
        .add-product-title 
            h2 تفاصيل التاجر 
            +merchant-details({ follow: true, chat: true})

        hr.my-5.cus-hr
        .add-product-title 
            h2 اﻟﻤﻨﺘﺠﺎت 
        - var fields = ['المنتج' , 'الإسم' , 'القسم', 'السعر' , 'الكمية' , 'الإجراءات']
        - var items = []
        - var actions = {isAvailableForMe:true}
        - var i = 0;
        while i < 4
            - items.push([`<div class="table-img"><img src="../../assets/images/product-thumb.png" /></div>`, '<div class="table-two-texts"><h5>خضراوات مشكل</h5><h6>#54545454</h6></div>','<div class="table-two-texts"><h5>بقالة</h5><h6> خضراوات </h6></div>' , '<h5 class="textt-green">45 ريال</h5>' , '<h5><strong>5</strong></h5>']);
            - i++
        +table( {filters:false , fields , items , actions ,  headTitle: 'جميع الطلبات' , isInner: false , isDataTable:false })


        hr.my-5.cus-hr
        .add-product-title 
            h2 تفاصيل الشحن
        .row.row-cols-1.row-cols-md-2.align-items-end 
            .col 
                +orderDetailsBox(' تاريخ ووقت الطلب ' , '   12 سبتمبر ، 2021 -  50:4 مساءً')
            .col 
                +orderDetailsBox(' خيارات الشحن ' , ' خيارات الشحن  <b class="textt-red">50 ريال + 20 ريال توصيل سريع</b>')
        .add-product-title.pt-5 
            h2 ملاجظاتك
            p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء        
       
       
        hr.my-5.cus-hr
        .add-product-title
            h2 الفاتورة
        .order-details
            .order-total 
                ul.p-0.m-0 
                    li 
                        h5 السعر الفرعي 
                        h6 350 ريال
                    li 
                        h5 التوصيل
                            span.express Express 
                        h6 350 ريال
                    li 
                        h5 كوبون الخصم 
                        h6 20 ريال
                    li 
                        h5 إجمالي الطلبات
                        h6.fw-bold 620 ريال
                hr
        .d-flex.justify-content-between.flex-wrap 
            .add-product-title
                h2 وﺳﺎﺋﻞ اﻟﺪﻓﻊ اﻟﻤﻨﺎﺳﺒﺔ ﻟﻚ
            .payments-list-check
                ul.p-0.m-0  
                    li 
                        input(type="radio" name="payment" class="active" id="visa")
                        label(for="visa" class="active") 
                            .title فيزا / ماستر كارد
                            img(src="../../assets/images/payments/visa.png" alt="" class="img")
                            img(src="../../assets/images/payments/visa-active.png" alt="" class="img-active")

        .btn-submit.cancel-bargains
            button.btnn-red.btn.btnn.hvr-shadow(data-bs-toggle='modal' data-bs-target='#cancelOfferModal')
                span إلغاء العرض
        #cancelOfferModal.modal.fade(tabindex='-1' aria-labelledby='cancelOfferModalLabel' aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header
                        h5#cancelOfferModalLabel.modal-title 
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body.p-0
                        .cansel-offer-modal 
                            h2 تم ارسال عرضك بنجاح
                            p سيتم تحويلك تلقائيا الى صفحة عروض الصفقات
                            .text-1 مر الكثير من الوقت ولم تتلقى موافقة
                            hr
                            .text-2 لم يعد لديك المنتجات التى يحتاجها العميل
                            hr
                            .text-3 سبب آخر
                            button.btnn-red.btn.btnn.hvr-shadow(data-bs-toggle='modal' data-bs-target='#cancelOfferModal')
                                span إلغاء العرض


