extends ../layouts/landingLayout.pug
include ../mixins/landingMixin.pug

block headContent
    +notisHead
block content
    .header
        nav(aria-label="breadcrumb")
            ol.breadcrumb
                li.breadcrumb-item
                    a(href="#") الرئيسية
                li.breadcrumb-item الصفقات
    .bargains-content.mt-5
        .dash-tabs
            .nav-tabs-1  
                ul#myTab.nav.nav-tabs(role='tablist')
                    li.nav-item(role='presentation')
                        button#Voucher-data-tab.nav-link.active(data-bs-toggle='tab' data-bs-target='#Voucher-data' type='button' role='tab' aria-controls='Voucher-data' aria-selected='true') طلباتى الحالية
                    li.nav-item(role='presentation')
                        button#Voucher-Included-tab.nav-link(data-bs-toggle='tab' data-bs-target='#Voucher-Included' type='button' role='tab' aria-controls='Voucher-Included' aria-selected='false') طلباتى السابقة 
                    li.nav-item(role='presentation')
                        button#excluded-coupon-tab.nav-link(data-bs-toggle='tab' data-bs-target='#excluded-coupon' type='button' role='tab' aria-controls='excluded-coupon' aria-selected='false') المرفوضة
                #myTabContent.tab-content
                    #Voucher-data.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='Voucher-data-tab') 
                        .all-bargins 
                            .row.m-0.w-100.mt-4
                                .col-md-3.mb-4
                                    +bargain()
                                .col-md-3.mb-4
                                    +bargain()
                                .col-md-3.mb-4
                                    +bargain()
                                .col-md-3.mb-4
                                    +bargain()
                                .col-md-3.mb-4
                                    +bargain()
                                .col-md-3.mb-4
                                    +bargain()
                                .col-md-3.mb-4
                                    +bargain()
                                .col-md-3.mb-4
                                    +bargain()

                    #Voucher-Included.tab-pane.fade(role='tabpanel' aria-labelledby='Voucher-Included-tab') 
                        .all-bargins 
                            .row.m-0.w-100.mt-4
                                .col-md-3.mb-4
                                    +bargain()
                                .col-md-3.mb-4
                                    +bargain()
                                .col-md-3.mb-4
                                    +bargain()

                    #excluded-coupon.tab-pane.fade(role='tabpanel' aria-labelledby='excluded-coupon-tab') 
                       .all-bargins 
                            .row.m-0.w-100.mt-4
                                .col-md-3.mb-4
                                    +bargain()
                                .col-md-3.mb-4
                                    +bargain()
                                .col-md-3.mb-4
                                    +bargain()
                                .col-md-3.mb-4
                                    +bargain()
                                .col-md-3.mb-4
                                    +bargain()




