
extends ../layouts/dashboardLayout.pug

block title 
    | الصفقات
block content
    .page-content-inner.bargains-request
        .bargains-request-head 
            h2 تفاصيل العميل
            +Button({color:'orange' , name:'تفاصيل العرض'})
        .order-details 
            .row

                .col-lg-4 
                    +orderDetailsBox(' موعد ارسال العرض ' , '12 سبتمبر 2021')
                .col-lg-4 
                    +orderDetailsBox('حالة العرض ' , 'منتظرة')
                .col-lg-4 
                    +orderDetailsBox('إجمالي العرض' , '64 ريال')
            hr
            .row
                .col-lg-2 
                    +orderDetailsBox('نوع المنشأة' , 'بقالة')
                .col-lg-4 
                    +orderDetailsBox('إسم العميل' , 'Mohamed ahmed')
                .col-lg-4 
                    +orderDetailsBox('البريد الإلكتروني' , 'Mohamed ahmed @gmail.com')
                .col-lg-2 
                    +orderDetailsBox('عضو من'  , '2021/4/21') 
            hr
        .add-product-title 
            h2 اﻟﻤﻨﺘﺠﺎت اﻟﻤﻄﻠﻮﺑﺔ
            p ﻣﻦ ﻓﻀﻠﻚ ﻗﻢ ﺑﻮﺿﻊ ﻋﻠﺎﻣﺔ ﺻﺢ ﻟﻠﻤﻨﺘﺞ اذا ﻛﺎن ﻣﺘﻮﻓﺮ ﻟﺪﻳﻚ وﺑﺎﻟﻜﻤﻴﺔ اﻟﻤﻄﻠﻮﺑﺔ


        - var fields = ['المنتج' , 'الإسم' , 'القسم', 'السعر' , 'الكمية' , 'الإجراءات']
        - var items = []
        - var actions = {isAvailableForMe:true}
        - var i = 0;
        while i < 4
            - items.push([`<div class="table-img"><img src="../../assets/images/product-thumb.png" /></div>`, '<div class="table-two-texts"><h5>خضراوات مشكل</h5><h6>#54545454</h6></div>','<div class="table-two-texts"><h5>بقالة</h5><h6> خضراوات </h6></div>' , '<h5 class="textt-green">45 ريال</h5>' , '<h5><strong>5</strong></h5>']);
            - i++

        +table( {filters:false , fields , items , actions ,  headTitle: 'جميع الطلبات' , isInner: false , isDataTable:false })

        hr.my-5.cus-hr
        .add-product-title 
            h2 تفاصيل الشحن
        .row.row-cols-1.row-cols-md-2.align-items-end 
            .col 
                +orderDetailsBox(' موعد اللشحن ' , '50 ريال + 20 ريال توصيل سريع')
            .col 
                +orderDetailsBox(' خيارات الشحن ' , '<b class="textt-red">50 ريال + 20 ريال توصيل سريع</b> الشركة المتحدة للتوصيل')
            .col 
                +orderDetailsBox(' السعر للمنتجات المطلوبة  ' , '<b class="textt-green">35 ريال</b>')
        .add-product-title.pt-5 
            h2 ملاجظاتك
        p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء
        .add-product-title.pt-5 
            h2 الفاتورة
        .order-details

            .order-total 
                ul.p-0.m-0 
                    li 
                        h5 السعر الفرعي 
                        h6 350 ريال
                    li 
                        h5 التوصيل
                            span.express Express 
                        h6 350 ريال
                    li 
                        h5 كوبون الخصم 
                        h6 20 ريال
                    li 
                        h5 إجمالي الطلبات
                        h6.fw-bold 620 ريال
                hr
        .d-flex.justify-content-between.flex-wrap 
            .add-product-title
                h2 وﺳﺎﺋﻞ اﻟﺪﻓﻊ اﻟﻤﻨﺎﺳﺒﺔ ﻟﻚ
            .payments-list-check
                ul.p-0.m-0  
                    li 
                        input(type="radio" name="payment" class="active" id="visa")
                        label(for="visa" class="active") 
                            .title فيزا / ماستر كارد
                            img(src="../../assets/images/payments/visa.png" alt="" class="img")
                            img(src="../../assets/images/payments/visa-active.png" alt="" class="img-active")

        .btn-submit.cancel-bargains
            button.btnn-red.btn.btnn.hvr-shadow(data-bs-toggle='modal' data-bs-target='#cancelOfferModal')
                span إلغاء العرض
        #cancelOfferModal.modal.fade(tabindex='-1' aria-labelledby='cancelOfferModalLabel' aria-hidden='true')
            .modal-dialog
                .modal-content
                    .modal-header
                        h5#cancelOfferModalLabel.modal-title 
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body.p-0
                        .cansel-offer-modal 
                            h2 تم ارسال عرضك بنجاح
                            p سيتم تحويلك تلقائيا الى صفحة عروض الصفقات
                            .text-1 مر الكثير من الوقت ولم تتلقى موافقة
                            hr
                            .text-2 لم يعد لديك المنتجات التى يحتاجها العميل
                            hr
                            .text-3 سبب آخر
                            button.btnn-red.btn.btnn.hvr-shadow(data-bs-toggle='modal' data-bs-target='#cancelOfferModal')
                                span إلغاء العرض


