
extends ../layouts/dashboardLayout.pug

block title 
    | العملاء
block content
    .page-content-inner
        .order-details 

            .row
                .col-lg-2 
                    +orderDetailsBox('نوع المنشأة' , 'بقالة')
                .col-lg-4 
                    +orderDetailsBox('إسم العميل' , 'Mohamed ahmed')
                .col-lg-4 
                    +orderDetailsBox('البريد الإلكتروني' , 'Mohamed ahmed @gmail.com')
                .col-lg-2 
                    +orderDetailsBox('عضو من'  , '2021/4/21') 
            .bottom-row.d-flex.justify-content-between.flex-wrap.mt-5 
                +orderDetailsBox('موقع العميل' , 'تبوك السعودية')
                .buttons.d-flex 
                    +Button({color:'gray' , name:'عرض الموقع' , icon:'marker'})
                    +Button({color:'orange' , name:'تفاصيل العميل' , class:'mr-2' , icon:'user'})
            hr
            - var buttons = [{class:'btnn-orange' , name:'تغير حالة الطلب' , icon:''} , {class:'btnn-red' , name:'طباعة بوليصية الشحن' , icon:'printer'},{class:'btnn-gray' , name:'عرض الفاتورة' , icon:'eye'} , {class:'btnn-orange' , name:'تصدير' , icon:'download'}]
            - var fields = ['رقم الطلب'  , 'تاريخ الطلب' , 'نوع الطلب' , 'الشحن' , 'الدفع' , 'حالة الطلب' , 'المجموع' , 'الإجراءات']
            - var actions = {isButton:true , list: ['eye' , 'download']}
            - var items = []
            - items.push([ '#6461313','<div class="table-two-texts"><h5>12 سبمتمر 2021</h5><h6>4:30 مساءً</h6></div>','<h5>صفقة</h5>','<div class="table-two-texts"><h5>سبلايز</h5><h6 class="express">Express</h6></div>','<h5>كاش</h5>','<div class="table-two-texts"><h5 class="textt-orange">بإنتظار التأكيد</h5><h6>4:30 مساءً</h6></div>','<h5>64 ريال</h5>']);
            - items.push([ '#6461313','<div class="table-two-texts"><h5>12 سبمتمر 2021</h5><h6>4:30 مساءً</h6></div>','<h5>صفقة</h5>','<div class="table-two-texts"><h5>سبلايز</h5><h6 class="express">Express</h6></div>','<h5>كاش</h5>','<div class="table-two-texts"><h5 class="textt-orange">بإنتظار التأكيد</h5><h6>4:30 مساءً</h6></div>','<h5>64 ريال</h5>']);
            - items.push([ '#6461313','<div class="table-two-texts"><h5>12 سبمتمر 2021</h5><h6>4:30 مساءً</h6></div>','<h5>صفقة</h5>','<div class="table-two-texts"><h5>سبلايز</h5><h6 class="express">Express</h6></div>','<h5>كاش</h5>','<div class="table-two-texts"><h5 class="textt-orange">بإنتظار التأكيد</h5><h6>4:30 مساءً</h6></div>','<h5>64 ريال</h5>']);
            - items.push([ '#6461313','<div class="table-two-texts"><h5>12 سبمتمر 2021</h5><h6>4:30 مساءً</h6></div>','<h5>صفقة</h5>','<div class="table-two-texts"><h5>سبلايز</h5><h6 class="express">Express</h6></div>','<h5>كاش</h5>','<div class="table-two-texts"><h5 class="textt-orange">بإنتظار التأكيد</h5><h6>4:30 مساءً</h6></div>','<h5>64 ريال</h5>']);
            - items.push([ '#6461313','<div class="table-two-texts"><h5>12 سبمتمر 2021</h5><h6>4:30 مساءً</h6></div>','<h5>صفقة</h5>','<div class="table-two-texts"><h5>سبلايز</h5><h6 class="express">Express</h6></div>','<h5>كاش</h5>','<div class="table-two-texts"><h5 class="textt-orange">بإنتظار التأكيد</h5><h6>4:30 مساءً</h6></div>','<h5>64 ريال</h5>']);
            - items.push([ '#6461313','<div class="table-two-texts"><h5>12 سبمتمر 2021</h5><h6>4:30 مساءً</h6></div>','<h5>صفقة</h5>','<div class="table-two-texts"><h5>سبلايز</h5><h6 class="express">Express</h6></div>','<h5>كاش</h5>','<div class="table-two-texts"><h5 class="textt-orange">بإنتظار التأكيد</h5><h6>4:30 مساءً</h6></div>','<h5>64 ريال</h5>']);
            - items.push([ '#6461313','<div class="table-two-texts"><h5>12 سبمتمر 2021</h5><h6>4:30 مساءً</h6></div>','<h5>صفقة</h5>','<div class="table-two-texts"><h5>سبلايز</h5><h6 class="express">Express</h6></div>','<h5>كاش</h5>','<div class="table-two-texts"><h5 class="textt-orange">بإنتظار التأكيد</h5><h6>4:30 مساءً</h6></div>','<h5>64 ريال</h5>']);

            +table( { buttons , fields ,  items , actions , isInner:true,  isDataTable:false , headTitle: 'ﺟﻤﻴﻊ اﻟﻄﻠﺒﺎت' })


