//- .dashbord-navbar 
//-     .logo   
//-         img(src="../../assets/images/logo.png" alt="alt")
//-     .dash-breadcrumb 
//-         h1 الرئيسية
//-     .actions 
//-         .search 
//-             form(action="#" method="method")
//-                 .form-group 
//-                     input(type="text" class="form-control")
//-                     button 
//-                         i.fas.fa-search
//-         .noti 
//-             button
//-                 svg 
//-                     use(href="../../assets/images/icons/icons.svg#notification")
//-         .account-area 
//-             img(src="../../assets/images/photo-top.png", alt="")