extends ../layouts/landingLayout.pug
include ../mixins/landingMixin.pug

block headContent
    +notisHead
block content
    .page-chat 
        .chat-users
            .nav-tabs-1 
                ul#myTab.nav.nav-tabs(role='tablist')
                    li.nav-item(role='presentation')
                        button#All-messages-tab.nav-link.active(data-bs-toggle='tab' data-bs-target='#All-messages' type='button' role='tab' aria-controls='All-messages' aria-selected='true') الكل
                    li.nav-item(role='presentation')
                        button#Stories-messages-tab.nav-link(data-bs-toggle='tab' data-bs-target='#Stories-messages' type='button' role='tab' aria-controls='Stories-messages' aria-selected='false') استفسارات القصص
                    li.nav-item(role='presentation')
                        button#Deal-Messages-tab.nav-link(data-bs-toggle='tab' data-bs-target='#Deal-Messages' type='button' role='tab' aria-controls='Deal-Messages' aria-selected='false') استفسارات اﻟﺼﻔﻘﺎت
                #myTabContent.tab-content
                    #All-messages.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='All-messages-tab') 
                        .chat-users-list
                            ul 
                                - var i = 0;
                                while i < 4
                                    li
                                        .user-details 
                                            .img 
                                                img(src="../../assets/images/photo-top.png" alt="")
                                            .name-message 
                                                h3  Mohamed ahmed
                                                .new-message
                                                    span  ﻣﺘﺎح ﻋﻨﺪك 5 ﻛﻴﻠﻮ ؟                                 
                                        .message-time 
                                            span اﻟﻴﻮم 40 ،:12 ﻣﺴﺎء 
                                    - i++
                    #Stories-messages.tab-pane.fade(role='tabpanel' aria-labelledby='Stories-messages-tab') 
                        .chat-users-list
                            ul 
                                - var i = 0;
                                while i < 4
                                    li
                                        .user-details 
                                            .img 
                                                img(src="../../assets/images/photo-top.png" alt="")
                                            .name-message 
                                                h3  Mohamed ahmed
                                                .new-message
                                                    span  ﻣﺘﺎح ﻋﻨﺪك 5 ﻛﻴﻠﻮ ؟                                 
                                        .message-time 
                                            span اﻟﻴﻮم 40 ،:12 ﻣﺴﺎء 
                                    - i++

                    #Deal-Messages.tab-pane.fade(role='tabpanel' aria-labelledby='Deal-Messages-tab') 
        .message-view-box 
            .message-view-box-head 
                .user-details 
                    .img 
                        img(src="../../assets/images/photo-top.png" alt="")
                    .name-message 
                        h3  Mohamed ahmed
                        .new-message
                            span  اليوم ، 40:12 مساء
                .message-view-box-actions 
                    +Button({color:'orange' , class:'mr-2' , icon:'phone'})
                    +Button({color:'orange' , class:'mr-2' , icon:'envelope'})
            .message-view-box-body 
                ul.list-messages
                        li.current-user
                            .message-box 
                                .message-item كم الكمية المتاحة معك
                                .read-check 
                                    svg 
                                        use(href='../../assets/images/icons/icons.svg#' + 'read-check')
                        li.other-user
                            .user-avatar
                                img(src="../../assets/images/photo-top.png" alt="")
                            .message-box 
                                .message-item نعم هذا المنتج متاح عندى 
                                .message-read منذ ساعتان
                        li.current-user
                            .message-box 
                                .message-item كم الكمية المتاحة معك
                                .read-check 
                                    svg 
                                        use(href='../../assets/images/icons/icons.svg#' + 'read-check')
                        li.other-user
                            .user-avatar
                                img(src="../../assets/images/photo-top.png" alt="")
                            .message-box 
                                .message-item نعم هذا المنتج متاح عندى 
                                .message-read منذ ساعتان

                        li.current-user
                            .message-box 
                                .message-item كم الكمية المتاحة معك
                                .read-check 
                                    svg 
                                        use(href='../../assets/images/icons/icons.svg#' + 'read-check')
                        li.other-user
                            .user-avatar
                                img(src="../../assets/images/photo-top.png" alt="")
                            .message-box 
                                .message-item نعم هذا المنتج متاح عندى 
                                .message-read منذ ساعتان


                        li.current-user
                            .message-box 
                                .message-item كم الكمية المتاحة معك
                                .read-check 
                                    svg 
                                        use(href='../../assets/images/icons/icons.svg#' + 'read-check')
                        li.other-user
                            .user-avatar
                                img(src="../../assets/images/photo-top.png" alt="")
                            .message-box 
                                .message-item نعم هذا المنتج متاح عندى 
                                .message-read منذ ساعتان            .message-view-box-bottom
                form(action="")
                    textarea(name="" placeholder="أكتب رسالتك")
                    +Button({color:'orange' , class:'mr-2 btn-fill' , icon:'send'})

