mixin account(account)
    .account.d-flex.justify-content-between.align-items-center 
        .image 
            img(src="../../assets/images/merchants/merchant-1" +".png" alt="")
        .info
            h5.fw-bold التاجر
            h6 Grocery shope