extends ../layouts/dashboardLayout.pug
block title 
    | الصفقات
block content 
    +pageHead('اﻟﺴﻠﺎت اﻟﻤﺘﺮوﻛﺔ <span>( 555 )</span>' , {url:'#' , title:'إضافة تذكير جديد '})

    - var buttons = [{class:'btnn-orange' , name:'ﺗﻔﻌﻴﻞ ﺧﺼﻢ ﻣﺆﻗﺖ'} ]
    - var fields = ['العميل' , 'تاريخ الإنشاء' , ' عدد المنتجات' , ' حالة الطلب', ' المجموع']
    - var items = []
    - var i = 0;
    while i < 10

        - items.push([ '<div class="d-flex"><div class="table-img"><img src="../../assets/images/product-thumb.png" /></div><div class="table-two-texts mx-2"><h5>Mohamed ahmed</h5><h6>عميل منذ 21/14/2021</h6></div></div>','<div class="table-two-texts"><h5>12 سبمتمر 2021</h5><h6>4:30 مساءً</h6></div>','<h5>3 منتجات</h5>' , 'قيد المراجعة' ,'64.00 رﻳﺎل']);
        - i++
    +table( {filters:false , buttons , fields , items , headTitle: 'السلات المتروكة' , isInner: true , isDataTable:true  })

